.header-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.employee-table {
  border: 1px solid;
}

th {
  border: 1px solid;
  border-collapse: separate;
}

.table-header {
  text-align: left;
}

.toggle-edit {
  display:none
}
