@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
  --handwriting: 'Amatic SC', cursive;
  --sans: 'Manrope', sans-serif;
}

.category {
  font-family: var(--handwriting);
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1.5px solid black;
  text-align: center;
}

.create_header {
  font-family: var(--handwriting);
  text-align: left;
  margin-top: -1px;
  padding-left: 20px;
  background-color: #FFCC66;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.create_input {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 560px;
  font-family: var(--sans);
}

.create_log {
  display: block;
  background-color: white;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  width: 599px;
  height: 660px;
  text-align: left;
}

.decrease {
  max-height: 20px;
  cursor: pointer;
}

.detailed_logs {
  margin-left: 15px;
  font-family: var(--sans);
  font-weight: 400;
}

.display-buttons {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3px;
  text-align: center;
  margin-top: -30px;
}

.display-counter {
  margin-left: 10px;
  font-size: 14px;
}

.edit_detailed_log {
  width: 580px;
  font-family: var(--sans);
}

.edit_div {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  background: #ffcc6681 ;
}

.edit_email {
  margin-top: -5px;
  width: 267px;
  font-family: var(--sans);
}

.edit_first {
  width: 230px;
  font-family: var(--sans);
}

.edit_last {
  margin-top: 5px;
  width: 234px;
  font-family: var(--sans);
}

.email_head {
  font-family: var(--sans);
  font-weight: 400;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.employee_button {
  border: solid 1px black;
  border-radius: .5rem;
  background-color: #FFCC66;
  margin-left: 100px;
  color: black;
  font-family: var(--handwriting);
  font-weight: 800;
  font-size: 20px;
  width: 160px;
  cursor: pointer;
}

.employee_div {
  display: block;
  margin-right: auto; 
  margin-left: auto;
  margin-top: -7px;
  width: 600px;
  height: 400px;
  background-color: white;
}

.employee_filter {
  font-family: var(--sans);
  margin-left: 3px;
  height: 24px;
  position: relative;
  top: -3px;
}

.employee_header {
  font-family: var(--handwriting);
  text-align: left;
  font-size: 36px;
  margin-top: -1px;
  padding-left: 20px;
  background-color: #FFCC66;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -5px;
}

.employee_info {
  display: block;
  background-color: white;
  margin-right: auto; 
  margin-left: auto;
  margin-top: -7px;
  width: 600px;
  height: 650px;
}

.employee_info_long {
  display: block;
  margin-right: auto; 
  margin-left: auto;
  margin-top: -7px;
  width: 600px;
  height: 1050px;
  background-color: white;
}

.employee_log_head {
  font-family: var(--sans);
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 18px
}

.employee_logs {
  margin-top: -15px;
  margin-left: 5px;
  border-bottom: dotted .5px;
  margin-bottom: -5px;
}

.employee_select {
  margin-left: 15px;
  margin-bottom: 10px;
  height: 24px;
  font-family: var(--sans);
}

.employee_span {
  margin-left: 10px;
}

.employee_table {
  width: 600px;
}

.filters {
  font-family: var(--handwriting);
  font-weight: 700;
  font-size: 25px;
  background-color: white;
  height: 50px;
  margin-top: -7px;
}

.first_nav {
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: none;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: #FFCC66;
  margin-left: 20px;
  color: black;
  font-family: var(--sans);
  font-weight: 800;
  font-size: 20px;
  width: 125px;
  cursor: pointer;
}

.footer {
  display: block;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  background-color: #FFCC66;
}

.footer-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -35px;
  max-width: 600px;
}

.header-image {
  display: block;
  border-top: 1px solid;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  max-height: 100%;
}

.increase {
  max-height: 20px;
  cursor: pointer;
  margin-left: 4px;
}

.item {
  font-family: var(--sans);
  border-bottom: .5px dotted black;
  text-align: left;
  padding-left: 10px;
}

.item_center {
  font-family: var(--sans);
  border-bottom: .5px dotted black;
  text-align: center;
}

.item_spacing {
  font-family: var(--sans);
  border-bottom: .5px dotted black;
  text-align: left;
  padding-left: 25px;
}

.log-container {
  display: block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 599px;
  height: 600px;
  text-align: left;
}

.log_head {
  font-family: var(--sans);
  margin-left: 10px;
  margin-top: 5px;
  border-top: dotted .5px;
  margin-bottom: 15px
}

.log_head_small{
  font-family: var(--sans);
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.logs {
  margin-left: 5px;
  border-bottom: dotted .5px;
  margin-bottom: -5px;
  font-family: var(--sans);
}

.month_filter {
  font-family: var(--sans);
  margin-left: 3px;
  height: 24px;
  position: relative;
  top: -3px;
}

.month_span {
  margin-left: 10px;
}

.nav {
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: none;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: #FFCC66;
  color: black;
  font-family: var(--sans);
  font-weight: 800;
  font-size: 20px;
  width: 125px;
  cursor: pointer;
}

.navbar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  margin-top: -15px;
  background-color: white;
}

.radio_input {
  margin-left: 15px;
}

.register {
  display: block;
  background-color: white;
  margin-right: auto; 
  margin-left: auto;
  margin-top: -7px;
  width: 600px;
  height: 400px;
}

.register_input_email {
  margin-left: 5px;
  width: 400px;
}

.register_input_first {
  margin-left: 5px;
  width: 427px;
}

.register_input_last {
  margin-left: 5px;
  width: 428px;
}

.register_label {
  margin-left: 15px;
  font-family: var(--sans);
  font-weight: 800;
}

.signature {
  margin-left: 15px;
  font-family: var(--handwriting);
  color: white;
}

.submit {
  border: solid 1px black;
  border-radius: .5rem;
  background-color: #FFCC66;
  margin-left: 260px;
  color: black;
  font-family: var(--handwriting);
  font-weight: 800;
  font-size: 24px;
  width: 80px;
  cursor: pointer;
}

.toggle-edit {
  display:none
}

.top_line {
  margin-top: 0px;
  margin-bottom: 7px;
  border: solid 1px;
}






















